html {
	box-sizing: border-box;
  font-family: georgia;
}

*, *::before, *::after {
	box-sizing: inherit;
}

h1 {
  font-family: Sigmar One;
  color: #cc1465;
  font-size: 3em;
  margin: 0;
}

header {
  background-color: #ffe500;
  padding: .3rem;
  text-align: center;

}

h2 {
  font-family: Sigmar One;
  color: #cc1465;
  text-align: left;
  font-size: 1.875rem;
}

footer {
  background-color: #ffe500;
  text-align: center;
  padding: .125rem;
  font-size: .75rem;
}

nav ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

a {
  color: white;
  text-decoration: none;
  background-color: #b2a212;
  padding: .5rem;
  border-radius: .3rem;
  font-size: 1.125rem;

}

a:hover {
  background-color: #cc1465;
}

body {
  margin: 0;
}

main {
  padding: .5em;
  line-height: 1.75;
  font-size: 1.125rem
}

nav .current {
  background-color: #b20953;
}
